html {
  
  color: white;
  margin: 0;
  overflow-x: hidden;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
:root {
  /* background-color: #f5f5f7; */
  background-color: #000000;;
}
.lift:hover {
  
  /* box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2); */
  /* box-shadow: -10px -10px 20px #242529, 10px 10px 10px rgb(0, 0, 0), 10px 10px 10px #151518; */
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  /* background: grey; */
  margin-bottom: 30px;
}
#banner-text {
  /* font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, */
    /* sans-serif; */
  font-size: 72px;
  /* letter-spacing: 0.5rem; */
  margin: 0px;
  width: auto;
  text-align: center;
  min-width: 100%;
  font-weight: 700;
  letter-spacing: 0.011em;
}
.parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 2rem;
  margin-block: 2rem;
  padding: 0 1rem;
  justify-items: center;
  align-items: center;
}
#banner-eyebrow-text {
  /* font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif; */
  font-size: 21px;
  /* letter-spacing: 0.5rem; */
  width: auto;
  margin-top: 40px;
  text-align: center;
  letter-spacing: 0.011em;
  font-weight: 600;
}
/* chrome and chromium based */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

