html {
  background-color: #000000;
  color: white;
  margin: 0;
  overflow-x: hidden;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
:root {
  /* background-color: #f5f5f7; */
  background-color: #000000;;
}
.lift:hover {
  
  /* box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2); */
  /* box-shadow: -10px -10px 20px #242529, 10px 10px 10px rgb(0, 0, 0), 10px 10px 10px #151518; */
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  /* background: grey; */
  margin-bottom: 30px;
}
.banner-text {
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 72px;
  /* letter-spacing: 0.5rem; */
  margin: 0px;
  width: auto;
  text-align: center;
  min-width: 100%;
  font-weight: 700;
  letter-spacing: 0.011em;
}
.parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 2rem;
  margin-block: 2rem;
  padding: 0 1rem;
  justify-items: center;
  align-items: center;
}
.banner-eyebrow-text {
  /* font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif; */
  font-size: 21px;
  /* letter-spacing: 0.5rem; */
  width: auto;
  margin-top: 40px;
  text-align: center;
  letter-spacing: 0.011em;
  font-weight: 600;
}
.gradient-text {
  opacity: 0.4;
  display: flex;
  color: #cceecc;
  flex-direction: column;
  font-family: "Abril Fatface", sans-serif;
  background: linear-gradient(to right, crimson, pink, springgreen);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  -webkit-background-clip: text;
  background-clip: text;
  /* color:rgba(0,0,0,1); */
  font-size: 7vw;
  padding: 0px;

  letter-spacing: 0.5rem;
  width: auto;
  min-width: 100%;
  /* margin:0px; */
  /* margin-left:-20px; */

  margin: 20px 40px;
  /* margin-right:0px; */
  display: block;
  text-align: center;
  transition: color 0.2s ease-in-out;
  font-weight: 900;
}
/* chrome and chromium based */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.gradient-text:hover {
  color: rgba(0, 0, 0, 0);
}
.box-shadow {
  border-radius: 30px;

  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}
@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

svg {
  overflow: visible;
  width: 100%;
  height: 120px;
}
